@import url("https://fonts.googleapis.com/css?family=Roboto:500,700|Amaranth:400");


.texte-page-1 {
   letter-spacing: 0;
   line-height: normal;
   margin-bottom: -41px;
   min-height: 147px;
   opacity: 0.75;
   text-align: center;
   width: 620px;
}


