/* Variables */

:root{
    --black: rgba(0,0,0,1);
    --amethyst: rgba(153,90,234,1);
    --white: rgba(255,255,255,1);

    --font-size-m: 18px;
    --font-size-1: 20px;
    --font-size-x1: 32px;

    --font-family-amaranth: "Amaranth";
    --font-family-roboto: "Roboto";
}

/* Classes */

.amaranth-normal-amethyst-32px {
    color: var(--amethyst);
    font-family: var(--font-family-amaranth);
    font-size: var(--font-size-x1);
    font-weight: 400;
    font-style: normal;
}

.roboto-medium-black-18px {
    color: var(--black);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-m);
    font-weight: 500;
    font-style: normal;
}

.roboto-bold-amethyst-20px {
    color: var(--amethyst);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-1);
    font-weight: 700;
    font-style: normal;
}

.roboto-medium-amethyst-18px {
    color: var(--amethyst);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-m);
    font-weight: 500;
    font-style: normal;
}
